
.btn {
    background-color: #ffd723;
    border: none;
    color: black;
    padding: 40px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    font-weight: bolder;
    box-shadow: 10px 10px rgb(107, 109, 107);
}

.btn:hover {
    background-color: #000000;
    color: white;
}

.btn:active {
    background-color: #f1ffc5c0;
    transform: translateY(4px);
    box-shadow: 0 10px rgb(14, 14, 14);
}

.border {
    border-style: solid;
    border: #ffd000;
    border-width: 800px;
}

h1 {
    font-weight: bolder;
    font-size: 100px;
    /*color: #fcac01;*/
    color: #ffd723;
}

.title {
    text-align: center;
    margin-top: 25%;
}

body {
    text-align: center;
    border-style: groove;
    border: #ffd723;
    border-width: 800px;
    margin: auto;
    background-color: rgb(156, 6, 6);

}
form {
    border: 3px solid  rgb(156, 6, 6);
  }
  
  button {
    background-color: #ffd723;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .container {
    padding: 16px;
  }


  
  body {
    background: rgb(156, 6, 6);
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .message {
    background: rgb(156, 6, 6);
    max-width: 80%;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
  }
  
  .message h2 {
    color: rgb(90, 72, 72);
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0 8px;
  }
  
  .message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
  }
  
  .message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
  }
  
  .message a {
    display: block;
    text-align: center;
    background: #ffd723;
    text-transform: uppercase;
    text-decoration: none;
    color: black ; 
    padding: 16px;
    border-radius: 4px;
    margin: 3px;
  }
  
  .message,
  .message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  #load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
  }
  
  @media (max-width: 600px) {
    body,
    .message {
      margin-top: 0;
      background: white;
      box-shadow: none;
    }
  
    body {
      border-top: 16px solid #ffa100;
    }
  }
  
  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(173, 175, 76);
    color: white;
  }
  .message form {
    margin: 10px;
    padding: 30px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="number"],
  select,
  input[type="password"] {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    background-color: #f2f2f2;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    padding: 16px;
    min-width: 100%;
    border-radius: 4px;
    border-width: 0px 1px 1px 0px;
    border-style: inset;
  }
  
  input[type="submit"],
  input[type="button"],
  input[type="reset"] {
    margin: 20px auto;
    display: inline-block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    min-width: 100%;
    border-radius: 4px;
  }
  
  .message form p {
    font-size: 20px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    min-width: 80%;
    padding: 5px 0;
  }
  
  .center {
    padding-left: 150px;
  }
  
  input:focus {
    background-color: #dfdfe6;
    outline-width: 0px;
  }