.btn {
    background-color: #ffd000;
    border: none;
    color: black;
    padding: 40px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    font-weight: bolder;
    box-shadow: 0 10px #9999;
}

.btn:hover {
    background-color: #000000;
    color: white;
}

.btn:active {
    background-color: #ffffffc0;
    transform: translateY(4px);
    box-shadow: 0 10px rgb(14, 14, 14);
}

.border {
    border-style: solid;
    border: #ffd000;
    border-width: 800px;
}

h1 {
    font-weight: bolder;
    font-size: 100px;
    /*color: #fcac01;*/
    color: #ffd000;
}

.title {
    text-align: center;
    margin-top: 25%;
}

body {
    border-style: groove;
    border: #ffd000;
    border-width: 800px;
    margin: auto;
    background-color: red;
}